
.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    background-color: white;
}
body {
    background-color: #f8f9fa;
    padding-top: 2rem;
    background-image: url(../assets/backgrund.jpg);
    background-size: cover;
}
.header {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
}
.form-title {
    margin-bottom: 1.5rem;
    text-align: center;
}
.form-switch {
    text-align: center;
    margin-top: 1rem;
}
.btn-action {
    margin-top: 1rem;
    width: 100%;
}
.auth-message {
    text-align: center;
    margin-top: 1rem;
    color: #dc3545;
    font-weight: bold;
}
.borda{
    border: 1px solid black;
}
.container{
    display: flex;
    flex-direction: column;
}